<div>
    <p class="font-weight-bold display-2"><a>
        <br>O que é o Pilates?
        </a>
    </p>
    <p class=" display-4">
    
        O Pilates clínico é uma atividade física terapêutica orientada especificamente para a pessoa, na qual cada exercício é selecionado com detalhe, de acordo com as necessidades únicas e contexto de cada um. Tem como como principal foco a reeducação, manutenção e fortalecimento da musculatura estabilizadora da coluna, assim como da sua mobilidade, aliando-se a componentes de concentração, consciência corporal, correção postural e coordenação respiratória, através de movimentos precisos e fluidos, permitindo o trabalho conjunto do corpo e da mente.
    </p>
    </div>
